<h2 mat-dialog-title>
  {{ "Add Product" | translate }}
</h2>
<form [formGroup]="createForm" (ngSubmit)="save()">
  <mat-dialog-content>

    <app-input-box [formGroup]="createForm" [formControlName]="'name'" label="Name"></app-input-box>
    <app-input-box [formGroup]="createForm" [formControlName]="'price'" label="Price" type="number"></app-input-box>
    <app-input-box [formGroup]="createForm" [formControlName]="'barCode'" label="BarCode"></app-input-box>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-danger m-2" (click)="closeDialog()" type="button">
      {{ "Cancel" | translate }}
    </button>
    <button class="btn btn-success m-2" type="submit" [disabled]="!createForm.valid">
      {{ "Save" | translate }}
    </button>
  </mat-dialog-actions>
</form>