.mat-header-cell {
    font-weight: bold !important;
    font-size: 15px !important;
    background-color: #c9f7f5;
  }
  
  .mat-row {
    font-size: 12px !important;
  
    &:hover {
      font-weight: bold !important;
      font-size: 15px !important;
      background-color: #fff4de !important;
    }
  }
  
  table.mat-table.cdk-table {
    width: 100% !important;
  }
  
  .active__row {
    font-weight: bold !important;
    font-size: 15px !important;
    background-color: #fff4de !important;
  }
  
  .loading {
    position: absolute;
    top: 45%;
  }
  
  .download__color {
      color: green;
  }
  