<table [id]="gridId" mat-table [dataSource]="dataSource">
    <ng-container
      *ngFor="let clm of gridSettings.columnsConfig; let i = index"
      [matColumnDef]="clm.field"
    >
      <th
        mat-header-cell
        class="px-2"
        [width]="clm.width"
        [hidden]="clm.hidden"
        *matHeaderCellDef
      >
        {{ clm.title | translate }}
      </th>
      <td
        mat-cell
        class="px-2"
        [width]="clm.width"
        [hidden]="clm.hidden"
        *matCellDef="let row"
      >
        <span *ngIf="!clm.hasPipe">
          {{ row[clm.field] }}
        </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="getRecord(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
    <tr class="mat-row">
      <td class="mat-cell text-center" *matNoDataRow colspan="9999">
        <span *ngIf="!loading">{{ "NoDataTextForShow" | translate }}</span>
        <div *ngIf="loading" class="spinner-grow loading" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </td>
    </tr>
  </table>
  