<div *ngIf="formGroup.controls[formControlName].invalid && formGroup.controls[formControlName].touched " class="text-danger">
  <div *ngIf="formGroup.controls[formControlName].errors.required">
    {{ "this field is required" | translate }}
  </div>
  <div *ngIf="formGroup.controls[formControlName].errors.maxlength">
    {{ "The maximum number of characters" | translate }}
  </div>
  <div *ngIf="formGroup.controls[formControlName].errors.pattern">
    {{ "Please match the requested format" | translate }}
  </div>
</div>

