<div class="row">
  <div class="col-lg-12 col-sm-12 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="pt-1">
          <button class="btn btn-info" (click)="createProduct()">
            {{ "Add Product" | translate }}
          </button>
        </div>
      </div>
      <hr class="dark horizontal my-0" />
      <div class="card-footer p-3 table-responsive">
        <app-data-grid [dataSource]="dataSource" [gridSettings]="gridSettings"></app-data-grid>
      </div>
      <div>
        <app-pagination [pageNumber]="pageNumber" [totalPages]="totalPages" [pageSize]="pageSize"
          [pageSizes]="[10, 20, 50, 100, 200, 500]" (pageChanged)="onPageChange($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>